.minesweeper-container .grid .cell {
    position: relative;
    display: block;
    width: 45px;
    height: 45px;
    float: left;
    border: solid 1px #a6a6a6;
    background-image: linear-gradient(#c8c8c8, #bdbdbd);
    border-radius: 5px;
    margin-right: 2px;
    margin-bottom: 2px;
}

.minesweeper-container .grid .cell::after {
    position: absolute;
    font-weight: bold;
    font-size: 25px;
    width: 45px;
    height: 45px;
    text-align: center;
    line-height: 45px;
}

.minesweeper-container .grid .cell.cell-undiscovered {
    background-image: linear-gradient(#E5E5E5, #CFCFCF);
}
.minesweeper-container .grid .cell.cell-undiscovered:hover {
    cursor: pointer;
    background-image: linear-gradient(#c9d0e6, #CFCFCF);
}

.minesweeper-container .grid .cell[data-count-mines]::after {
    content: attr(data-count-mines);
}
.minesweeper-container .grid .cell[data-count-mines="0"]::after {
    content: "";
}
.minesweeper-container .grid .cell[data-count-mines="1"]::after {
    color: #1633c3;
}
.minesweeper-container .grid .cell[data-count-mines="2"]::after {
    color: #488331;
}
.minesweeper-container .grid .cell[data-count-mines="3"]::after {
    color: #bd0d0d;
}
.minesweeper-container .grid .cell[data-count-mines="4"]::after {
    color: #cc6b21;
}
.minesweeper-container .grid .cell[data-count-mines="5"]::after {
    color: #0b82b6;
}
.minesweeper-container .grid .cell[data-count-mines="6"]::after {
    color: #73c6ec;
}
.minesweeper-container .grid .cell[data-count-mines="7"]::after {
    color: #d8a013;
}
.minesweeper-container .grid .cell[data-count-mines="8"]::after {
    color: #ab06c1;
}

.minesweeper-container .grid .cell.cell-discovered.cell-mined::after  {
    content: "☢";
    color: #e63744;
}

/* FLAGGED UNDISCOVERED */
.minesweeper-container .grid .cell.cell-undiscovered.cell-flagged {
    background-image: linear-gradient(#93003a, #4a0404);
}
.minesweeper-container .grid .cell.cell-undiscovered.cell-flagged::after {
    content: "⚚";
    color: white;
}

/* FLAGGED DISCOVERED WITHOUT MINE */
.minesweeper-container .grid .cell.cell-discovered.cell-flagged.cell-empty {
    background-image: linear-gradient(#373737, #000000);
}
.minesweeper-container .grid .cell.cell-discovered.cell-flagged.cell-empty::after {
    content: "☢";
    color: red;
}

/* FLAGGED DISCOVERED WITH MINE */
.minesweeper-container .grid .cell.cell-discovered.cell-flagged.cell-mined {
    background-image: linear-gradient(#3d8a0f, #46680a);
}
.minesweeper-container .grid .cell.cell-discovered.cell-flagged.cell-mined::after {
    content: "☢";
    color: white;
}