@media (max-width: 480px) {
    .minesweeper-container .grid {
        grid-template-columns: repeat(auto-fit, minmax(30px, 1fr));

        .cell {
            min-width: 25px;
            font-size: 14px;
        }
    }
}

.minesweeper-container .grid {
    display: grid;
    width: 100%;
    gap: 2px;

    overflow-x: auto;

    * {
        font-weight: bold;
    }

    .cells {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .row {
        display: flex;
        width: 100%;
    }

    .cell {
        aspect-ratio: 1/1; /* Garantit des cellules carrées */
        min-width: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: clamp(12px, 3vw, 18px);
        user-select: none;
        touch-action: manipulation;

        border: solid 1px #cdcdcd;
        background-image: linear-gradient(#c8c8c8, #bdbdbd);
        border-radius: 5px;
        margin-right: 2px;
        margin-bottom: 2px;

        &.cell-undiscovered {
            background-image: linear-gradient(#E5E5E5, #CFCFCF);
        }

        &.cell-undiscovered:hover {
            cursor: pointer;
            background-image: linear-gradient(#c9d0e6, #CFCFCF);
        }

        &[data-count-mines]::after {
            content: attr(data-count-mines);
        }

        &[data-count-mines="0"]::after {
            content: "";
        }

        &[data-count-mines="1"]::after {
            color: #1633c3;
        }

        &[data-count-mines="2"]::after {
            color: #488331;
        }

        &[data-count-mines="3"]::after {
            color: #bd0d0d;
        }

        &[data-count-mines="4"]::after {
            color: #cc6b21;
        }

        &[data-count-mines="5"]::after {
            color: #0b82b6;
        }

        &[data-count-mines="6"]::after {
            color: #73c6ec;
        }

        &[data-count-mines="7"]::after {
            color: #d8a013;
        }

        &[data-count-mines="8"]::after {
            color: #ab06c1;
        }

        &.cell-discovered.cell-mined::after {
            content: "☢";
            color: #e63744;
        }

        /* FLAGGED UNDISCOVERED */
        &.cell-undiscovered.cell-flagged {
            background-image: linear-gradient(#93003a, #4a0404);
        }

        &.cell-undiscovered.cell-flagged::after {
            content: "⚚";
            color: white;
        }

        /* FLAGGED DISCOVERED WITHOUT MINE */
        &.cell-discovered.cell-flagged.cell-empty {
            background-image: linear-gradient(#373737, #000000);
        }

        &.cell-discovered.cell-flagged.cell-empty::after {
            content: "⚚";
            color: red;
        }

        /* FLAGGED DISCOVERED WITH MINE */
        &.cell-discovered.cell-flagged.cell-mined {
            background-image: linear-gradient(#3d8a0f, #46680a);
        }

        &.cell-discovered.cell-flagged.cell-mined::after {
            content: "⚚";
            color: white;
        }
    }
}