.minesweeper-container .timer {
    display: block;
    float: left;
    font-size: 1.2em;
    font-weight: bold;
    padding: 8px 12px;
    background-image: linear-gradient(#0e857c, #2e6c68);
    border-radius: 6px;
    color: white;
    margin: 10px 10px 10px 0;
}