.minesweeper-container .timer {
    display: block;
    float: left;
    font-size: 19px;
    font-weight: bold;
    padding: 6px 12px;
    background-image: linear-gradient(#0e857c, #2e6c68);
    border-radius: 6px;
    color: white;
    margin: 10px 10px 10px 0;
    height: 24px;
    line-height: 24px;
}