@import "styles/minesweeper-container.css";
@import "styles/flag-remainder.css";
@import "styles/timer.css";
@import "styles/grid.css";

* {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    font-family: "Roboto", sans-serif;
}